html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('./assets/images/background.jpeg');
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}